section{
    margin: 25px;
}
.all{
    float: right;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.container{
    display: block;
}

.featured-item img, .category-item img, .product-item img, .product-img-item{
    width: 100%;
    height:auto;
    display:block;
}
.featured-item, .category-item{
    position:relative;
}
.featured-item span, .category-item span{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,.5);
    text-align:center;
    color: white;
    display:inline-block;
    vertical-align:middle;
    font-weight: bold;
}
.featured-item span:after, .category-item span:after{
    content:'';
    width:1px; height:100%;
    vertical-align:middle;
    display:inline-block;
}
.featured-item span{
    font-size: xx-large;
}
.category-item span{
    font-size: large;
}
.product{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.category{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.product-master{
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 10px;
    padding: 15px;
}
.product-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.product-item, .category-item{
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: auto;
    background-color: #f6f6f6;
}
.product-desc{
    padding: 5px 10px;
}

.title-img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sale{
    font-weight: 500;
    color: green;
}


.cart-item{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px auto;
}
.cart-item img{
    width: 100%;
}
.cart-desc{
    float: right;
}
.cart-btn{
    margin-bottom: 20px;
}

.txt-grey{
    color: grey;
}

.success-container{
    margin: 25vh;
}
.success-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer .container{
    padding: 10px;
}
footer table{
    width: 100%;
    text-align: left;
}
footer table a{
    text-decoration: none;
}
footer table th a{
    color: white;
}
footer table td a{
    color: grey;
}
footer table a:hover{
    color: white;
}
